# -------------------------------------------------------
# Noir / Barretenberg Build Artifacts
# -------------------------------------------------------

**/target/

# -------------------------------------------------------
# Proof Artifacts
# -------------------------------------------------------

proof
vk
vk_hash
public_inputs

# -------------------------------------------------------
# Editor
# -------------------------------------------------------

.vscode/
.idea/

# Vim
*.swp
*.swo

# -------------------------------------------------------
# OS
# -------------------------------------------------------

.DS_Store
Thumbs.db

# -------------------------------------------------------
# Logs
# -------------------------------------------------------

*.log

# -------------------------------------------------------
# Benchmark artifacts
# -------------------------------------------------------

**/benchmarks/run_*/
**/benchmarks/benchmark_*.txt

# -------------------------------------------------------
# Node dependencies
# -------------------------------------------------------

**/node_modules/
