# -------------------------------------------------------
# Noir / Barretenberg Build Artifacts
# -------------------------------------------------------

**/target/
*.gz

# -------------------------------------------------------
# Proof Artifacts
# -------------------------------------------------------

proof
vk
vk_hash
public_inputs

# -------------------------------------------------------
# Editor
# -------------------------------------------------------

.vscode/
.idea/

# Vim
*.swp
*.swo

# -------------------------------------------------------
# OS
# -------------------------------------------------------

.DS_Store
Thumbs.db

# -------------------------------------------------------
# Logs
# -------------------------------------------------------

*.log

# -------------------------------------------------------
# Benchmark artifacts
# -------------------------------------------------------

**/benchmarks/run_*/
**/benchmarks/benchmark_*.txt

# -------------------------------------------------------
# Node dependencies
# -------------------------------------------------------

**/node_modules/


# -------------------------------------------------------
# Temporary archives
# -------------------------------------------------------

*.tar.gz

# -------------------------------------------------------
# Python
# -------------------------------------------------------

__pycache__/
*.pyc

# -------------------------------------------------------
# Circom generated build artifacts
# -------------------------------------------------------

build/
release_v1/keys/

*.r1cs
*.wasm
*.sym
*.wtns

# -------------------------------------------------------
# SnarkJS proving artifacts
# -------------------------------------------------------

*.zkey
*.ptau

# Generated proof/public artifacts
proof*.json
public*.json
verification_key*.json
